/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */


.header-container {
  background-image: url("../images/pattern-bg.png");
  height: 200px;
  z-index: 0;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 30px;
}

form {
  text-align: center;
}

.container {
  color: black;
  display: flex;
  justify-content: center;
  margin: auto;
  border: solid white;
  border-radius: 10px;
  background-color: whitesmoke;
  text-align: center;
  width: 65%;
  margin-top: 25px;
  height: 100px;
  position: relative;
  z-index: 2;
}

#map {
  z-index: -1;
}

h5 {
  font-weight: bold;
}
h6 {
  margin-top: 15px;
}

.col {
  border-right: 2px solid gray;
  height: 75px;
}

.col:last-child {
  border-right: none;
}

input {
  width: 35%;
  display: inline;
  padding-left: 5px;
  font-size: 20px;
}



